*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout-1{
    background-color: #e3e3e3;

}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;

}

.layout-1 #topHeader{
    background-color:red;
    display:block;
    text-align: center;
    height:40px;
    font-size: 25px;
}

.layout-1 div{
    background-color: red;
}

.layout-1 nav{
    background-color:blue;
    display: block; 
    text-align: center;
}

.layout-1 section{
    width: 70%;
    
  
   
}

.layout-1 header{
    background-color: yellow;
    
    
   
}

.layout-1 #sectionHeader{
    background-color:yellow;
    width: 100%;
    padding: 7px;
 }

.layout-1 article{
    background-color:orange;
   
}
.layout-1 aside{
    background-color:purple;
    
}

.layout-1 aside a{
    background-color:white;
    border: solid 5px purple;
    float:right;
   clear: both;
   width:30%;
   text-align: center;
}

.layout-1 footer{
    text-align: center;
}

#topHeader2{
    background-color:red;
    text-align: center;
    padding: 11px;
}
.layout-2 nav{
    background-color:blue;
    float:left;
    clear:both;
    width:20%;
    
}

.layout-2 nav a{
    background-color:white;
    
    
}

#content{
    background-color:green;
    height:20px;
    width:75%;
    

}

.article2{
    background-color:yellow;
    
}

#article2{
    background-color: yellow;
    
}

.aside-content{
    background-color:purple;
    height:20px;
    width:20%;
    float:right 
    clear:both;
    margin:4px 4px 4px 4px;
}

.aside-info{
    background-color:aqua;
   
    
}

.layout-2 img{
    background-color: aqua;
    
    
}



.layout-2 footer{
}

.layout-3 header{
    background-color:red;
}

#sectionHeader3{
    background-color:blue;
}

.layout-3 nav{
    background-color:yellow;
}

.layout-3 section{
    background-color:orange;
}

.layout-3 aside{
    background-color:purple;
}

#pageFooter{
    background-color:green;
}







